
<ul class="nav nav-pills nav-stacked">
    <li><a href="#">Все категории</a></li>
    <li class="active"><a href="#">Кино</a></li>
    <li><a href="#">Книги</a></li>
    <li><a href="#">Инструмент</a></li>
</ul>
